<form action="/Employee/add_emp/" method="post">
    {% csrf_token %}
    <label for="first_name">Employee First name: </label>
    <input id="first_name" type="text" name="first_name" >
    <br/>
    <label for="last_name">Employee Last name: </label>
    <input id="last_name" type="text" name="last_name" >
    <br/>
    <label for="previous_employer">Previous Employer: </label>
    <input id="previous_employer" type="text" name="previous_employer" >
    <br/>
{#    <label for="date_of_birth">Date of Birth: </label>#}
{#    <input id="date_of_birth" type="date" name="dob" >#}
{#    <br/>#}
    <label for="email">Email: </label>
    <input id="email" type="text" name="dob" >
    <br/>

    <input type="submit" value="Add">

</form>
